@model HomeDetailsViewModel

@{
    ViewData["Title"] = "Employee Details";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/noimage.jpg" asp-append-version />

                <h4>Employee ID : @Model.Employee.Id</h4>
                <h4>Email : @Model.Employee.Email</h4>
                <h4>Department : @Model.Employee.Department</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a asp-action="edit" asp-route-id="@Model.Employee.Id" class="btn btn-primary">Edit</a>
                <a asp-action="delete" asp-route-id="@Model.Employee.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Employee.Id })
    <a asp-action="Index">Back to List</a>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }